<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Registro</title>
</head>
<body>
    <div class="login-form register">
        <div class="content">
            <!-- Formulario de registro -->
            <h2>Regístrate</h2>
            <form action="registroU" method="post">
                <input type="email" name="email" placeholder="Correo electrónico" required autofocus>
                <input type="text" name="name" placeholder="Nombre" required>
                <input type="text" name="apellidos" placeholder="Apellidos" required> 
                <input type="password" name="password" placeholder="Contraseña" required>
                <button class="btn" type="submit">Registrarse</button>
            </form>
            <p class="cuenta">¿Tienes una cuenta?<a href="login.ejs"> Inicia sesión</a></p>
        </div>
    </div>
</body>
</html>
