<!DOCTYPE html>
<html>
  <head>
    <title>Ejemplo de nueva vista</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Ejemplo de vista</h1>
    <p>Aquí podría ir otra página</p>
  </body>
</html>
